body {
  background-color: #e0e0f0;
}

#content {
  border: 3px solid #ccd;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 4em;
}

h1 {
  font-weight: normal;
  margin-top: 0.5em;
}

h2 {
  font-weight: normal;
  text-decoration: underline;
}

code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

pre code {
  border: none;
}

#footer {
  margin-left: auto;
  margin-right: auto;
}

#footer > p {
  text-align: center;
  font-style: italic;
}