<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
  </head>
  <body>
  <div id="content">
    {{ content }}
  </div>
  <div id="footer">
    <p>You can contribute to this Guide. <a href="https://github.com/gravitystorm/OpenCycleMap-Mapping-Guide">Edit on Github</a></p>
  </div>
  </body>
</html>